name: goreleaser

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      - 
        name: install package for cross compile
        run: sudo apt update && sudo apt install -y gcc-aarch64-linux-gnu
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      -
        name: Run GoReleaser
        run: |
          docker run --rm \
            -e CGO_ENABLED=1 \
            -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v `pwd`:/go/src/github.com/vulsio/go-cve-dictionary \
            -w /go/src/github.com/vulsio/go-cve-dictionary \
            ghcr.io/goreleaser/goreleaser-cross:v1.20 \
            release --clean

